
a:link {color:#000099; text-decoration:none;}
a:visited {color:#000099; text-decoration:none;}
a:active {color:#0000FF; text-decoration:none;}
a:hover {color:#0000FF; text-decoration:none;}

.menutop { background: url(menutop.jpg) no-repeat top left }

a.headlink {color:#FFCC33; text-decoration:none; font-family: Arial, Helvetica, sans-serif; font-size: 22pt; font-weight: bold;}
a.headlink:visited {color:#FFCC33; text-decoration:none; font-family: Arial, Helvetica, sans-serif; font-size: 22pt; font-weight: bold;}
a.headlink:active {color:#FFCC33; text-decoration:none;}
a.headlink:hover {color:#FFCC33; text-decoration:none;}

a.menulink {color:#FFFFFF; text-decoration:none; font-weight:bold}
a.menulink:visited {color:#FFFFFF; text-decoration:none; font-weight:bold}
a.menulink:active {color:#FFCC33; text-decoration:none; font-weight:bold}
a.menulink:hover {color:#FFCC33; text-decoration:none; font-weight:bold}

a.menulinkh {color:#FFCC33; text-decoration:none; font-weight:bold}
a.menulinkh:visited {color:#FFCC33; text-decoration:none; font-weight:bold}
a.menulinkh:active {color:#FFCC33; text-decoration:none; font-weight:bold}
a.menulinkh:hover {color:#FFCC33; text-decoration:none; font-weight:bold}

a.blacklink {color:#000000; text-decoration:none; cursor: pointer;}
a.blacklink:visited {color:#000000; text-decoration:none; cursor: pointer;}
a.blacklink:active {color:#0000FF; text-decoration:none; cursor: pointer;}
a.blacklink:hover {color:#0000FF; text-decoration:none; cursor: pointer;}

.rowcursor {cursor: pointer;}

button.smallbtn {font-size: 12px;}
button.adminbtn {font-size: 12px; width: 35px;}
button.lrgbtn {font-size: 16px; width: 140px; height: 38px;}
button.delbtn {background-color: #CCCCCC;}
input.smalltxt {font-size: 10px;}
select.smallsel {font-size: 10px;}

.ithd { padding-left: 8px; height: 22px; background: #FFFFFF url("img/toplinksback.jpg") center center repeat-x; border-bottom: 1px solid #333333; }
.ithdtxt { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; }
.itmap { padding-left: 0px; padding-right: 0px; padding-top: 8px; padding-bottom: 0px; width:80px; }
.ittext { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; padding-left: 6px; padding-right: 0px; padding-top: 6px; padding-bottom: 6px; }
.itmv { font-family: Arial; font-size: 7pt; }
input.inmv { font-size: 10px; width:22px; }

.thmbimg { border: #000033 solid 1px; }
.imgbord { border: #666666 solid 1px; }
.fadeback { background: url('/images/bgfade.jpg') center top repeat-y; }
.hiddentours { background: #F3D9D9; border-top: 1px solid #666666; border-bottom: 1px solid #666666; }

.fields { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; }
.fields2 { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; }
.sched1 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; }

.triphead { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000;}
a.triphead {color:#000000; text-decoration:none; cursor: pointer;}
a.triphead:visited {color:#000000; text-decoration:none; cursor: pointer;}
a.triphead:active {color:#0000FF; text-decoration:none; cursor: pointer;}
a.triphead:hover {color:#0000FF; text-decoration:none; cursor: pointer;}

#fromdb { position: absolute; background: #FFFFFF; border: #666666 solid 1px; z-index: 200; }

.viewresl { border-bottom:1px solid #DDDDDD; font-family:Arial; font-size:10pt; text-align:right; padding-right:10px; }
.viewresr { border-bottom:1px solid #DDDDDD; font-family:Arial; font-size:10pt; font-weight:bold; width:400px; }

.viewsched { border-bottom:1px solid #DDDDDD; font-family:Arial; font-size:10pt; }
