
table tr {
    border-right: 1px solid #597480;
}
.div-pad {
    margin: 0px;
    padding: 0px;
    color: #000000;
}
#date-pic {
    /*border-bottom: 1px solid black;*/
    box-shadow: 0px 3px 0px grey;
    padding-bottom: 5px;
    font-weight: bold;
    width: 60px;
}
.date-section {
    width: 8.331%;
}
.avail {
    background-color: #1D6357;
    border-right: 1px solid white;
    height: 50px;
    width: 8.331%;
}
.booked {
    background-color: #DA942C;
    border-right: 1px solid white;
    height: 50px;
    width: 8.331%;
}
#data-pd {
    margin: 0px;
    padding: 0px;
    /*border-bottom: 1px solid black;*/
    border-bottom: 1px solid black;
}
.inventory {
    background-color: white;
    border-left: 1px solid #000000;
    height: 50px;
    width: 8.331%;
    /*padding-top: 15px;*/
}
.input-text{
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.input-text:focus, .input-text:active {
    background-color: #eaffb7;
}
div.overFlow{
    height: 1100px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: -16px;
    margin-right: -15px;
}
